
.chat-bot-readme table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 14px;
    overflow-x: scroll;
    border-radius: 8px;
}

.chat-bot-readme th,
.chat-bot-readme td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}